<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>Vue.js App</title>
    <link href="main.css" rel="stylesheet">
  </head>
  <body>
    <div id="app">
      <button @click="show = !show">Switch</button>
      <transition appear>
        <div v-show="show">transitioning element</div>
      </transition>

      <transition name="demo">
        <div v-if="show" key="a">TRUE</div>
        <div v-else key="b">FALSE</div>
      </transition>

      <transition name="demo" mode="out-in">
        <div v-if="show" key="a">TRUE</div>
        <div v-else key="b">FALSE</div>
      </transition>

      <button @click="count++">Count up</button>
      <transition name="demo">
        <div :key="count">{{ count }}</div>
      </transition>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.10/lodash.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.18.0/dist/axios.min.js"></script>
    <script src="main.js"></script>
  </body>
</html>
